@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: .5s;
}

button:hover {
  background: transparent;
  color: black;
}

.home{
  height: 100vh;
}

input::placeholder {
  opacity: .6;
}

input[type="text"],
input[type="password"]{
  padding-left: 16px;
}


/* backend/.vs/blogApp/FileContentIndex/babbc663-0e46-4147-97b7-71dfbc3d977d.vsidx */